<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="perfil.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <section>
        <a href="#" class="vltr">VOLTAR</a>
        <div class="card">
            <div class="esquerda">
                <img class="fotinho" src="..\Profile\veg1.svg" alt="vegetable" height="198px" width="198px">
                <div class="nota">
                    <img class="estrelinha" src="..\Profile\star.svg" alt="star" height="27px" width="27px">
                    <p class="notaNum">5.0</p>
                </div>
                <div class="infos">
                    <p class="contato">Contato: @(99)99999-9999</p>
                    <ul>
                        <li>Frutas</li>
                        <li>Legumes</li>
                        <li>Verduras</li>
                        <li>Outros</li>
                    </ul>
                </div>
            </div>
            <div class="direita">
                <div class="desc">
                    <h1 class="nome">Dona Maria da Silva Sauro e Silva</h1>
                    <p class="desc-txt">
                        Não obstante, a necessidade de renovação procesNão obstante, a necessidade de renovação proces
                        Não obstante, a necessidade de renovação procesNão obstante, a necessidade de renovação proces
                        Não obstante, a necessidade de renovação procesNão obstante, a necessidade de renovação proces
                        Não obstante, a necessidade de renovação procesNão obstante, a necessidade de renovação proces
                        Não obstante, a necessidade de renovação procesNão obstante, a necessidade de renovação proces
                        Não obstante, a necessidade de renovação proces
                    </p>
                </div>
                <div class="resto">
                    <div class="ende">
                    <ul>
                        <li class="ende-li">Rua Dona Maria da Silva Sauro</li>
                        <li class="ende-li">Número 447</li>
                        <li class="ende-li">Penha</li>
                    </ul>
                    </div>
                    <div class="dNota">
                        <span class="aval-txt">
                            Já o conhece?Avalie!
                        </span>
                        <input id="aval" class="aval" type="number" placeholder="Sua avaliação" min="0" max="5">
                        <button id="btn" class="btn">Avaliar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>