
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Título da Página</title>
	
	<link href="buscada.css" rel="stylesheet" />
	<style type="text/css">
	</style>
</head>
<body>
	<div class="divLogo">
		<img src= "logo2.svg" alt="logo textw" width="206" height="90">
	</div>
	<div class="botao">
		<button class = "botaovoltar" id="BOTAO" type="button"> 
			Voltar
		</button>
	</div>
	<div class="card2">
		<div class="filtros">
			<div>
				<p> Frutas </p> 
			</div>
			<div> 
				<p> Centro </p>
			</div>
		</div>
	</div>
	
	
<div class= "duaslinhas">
	<div class = "primeiralinha">
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
				
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
	</div>

	<div class = "primeiralinha">
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
				
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class= "duaslinhas">
	<div class = "primeiralinha">
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
				
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
	</div>

	<div class = "primeiralinha">
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
				
		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="ft">
				<div style='display: flex; flex-direction: column; align-items: center; justify-content:center; width: 50%'>
					<img src= "/user.png" alt="logo texto" width="125" height="135" class="user">
					<button class = "botaodetalhes" id="BOTAO" type="button"> 
						Ver detalhes
					</button>
				</div>
				<div class="produtores" >
					<p> Dona Maria </p>
					<p> Rua Afonso de Freitas, 455 </p>
					<p> Paraiso </p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>