<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="indexStyle.css" media="screen" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
<div class="container">
    <section class="section-1">
        <nav class="fadeInSec">
            <ul>
                <li><a href="#">BUSQUE</a></li>
                <li><a href="#">INDIQUE</a></li>
            </ul>
        </nav>
        <img src="../Home/logo2branco.svg" alt="Logo" class="fadeInPrin">
        <a href="#" class="icon-wrapper-a">
            <i class="material-icons fadeInSec">expand_more</i>
        </a>
    </section>
    <section class="section-2">
        <div>
            <h1>Sobre MyGarden</h1>
            <p>
                O MyGarden é uma plataforma online especializada no intermédio entre os pequenos produtores e compradores do setor agrícola paulista.
                Nossa missão é trazer visibilidade para os agricultores de menor escala, responsáveis pela maior fatia da produção de produtos agrícolas consumidos no Brasil, bem como apresentar diferentes alternativas de comércio entre estes e os diferentes clientes.
                E como fazemos isso? Estabelecendo uma ponte entre o produto, produtor e o comprador, por uma dinâmica simples, intuitiva e eficiente.
            </p>
        </div>
        <div>
            <p>
                Você é ou conhece um pequeno produtor?
                <a href="#">Indique</a>!
            </p>
        </div>
    </section>
</div>
</body>
</html>